*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
header h1 span{
    color: rgb(10, 129, 226);
}


ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    font-size: 20px;
}
li a {
    color: black;
    text-decoration: none;
    transform: translateY(-10deg);
    transition: 1s;
}
li a:hover{
    color: rgb(10, 129, 226);
    text-decoration:overline;
}

header button{
    height: 40px;
    width: 10%;
    border-radius: 20px;
    background-color: rgb(10, 129, 226);
    color: white;
    font-size: 15px;
    border: none;
}
#principale{
    display: flex;
    justify-content: center;
    height: 100vh;
    background: linear-gradient( rgba(59, 52, 52, 0.1),rgba(59, 52, 52, 0.1) ), url(Images/30.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
#principale h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
    font-size: 50px;
    color: white;   
}
#principale h1 span{
    color: rgb(10, 129, 226);;
}
#catalogue{
    text-align: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    
}
#catalogue h3{
    font-size: 50px;
}
#catalogue #vos{
    font-size: 20px;
   padding: 30px 30px;
    color: rgb(61, 60, 60);
}
.grille{
    display:grid ;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px ;
    gap: 50px;
}

.carte{
    transform: translateY(-20deg);
    transition: 2s;
}
.carte img{
    height: 250px;
    width: 250px;
    border-radius: 30px;
}
.carte button{
    border: none;
    width: 100px;
    height: 50px;
    background-color: rgb(0, 110, 255);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 30px;
    padding: 10px;
    color: white;
}
.carte button:hover{
    box-shadow: rgb(255, 238, 2);
    background-color: black;
    color: white;
}

#carré{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    border-radius: 50px;   
    background:linear-gradient( rgba(59, 52, 52, 0.1),rgba(59, 52, 52, 0.1) ), url(Images/32.jpg) ;
    background-size:cover ;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#carré h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color:rgb(10, 129, 226)
}

#A-propos{
   display:grid;
   align-items: center;
   justify-content: center;
}
#A-propos p{
    font-size: 22px;
    color: rgb(61, 60, 60);
}
#A-propos h2{
    text-align: center;
    font-size: 40px;
    padding: 30px;
}
#A-propos #gauche{
    text-align:start; 
}

#A-propos img{
   margin-left: 300px;
   border-radius: 100%;
   
  
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 129, 226);
    color: white;
}
